body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: #C0C0C0;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #6A0DAD;
  color: white;
}

nav {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #C0C0C0;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: #6A0DAD;
}

section {
  scroll-margin-top: 80px;  
  padding: 30px 20px;
  border-bottom: 1px solid #6A0DAD;
}

h2 {
  color: #6A0DAD;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #777;
}
.mi-foto {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  border: 3px solid #6A0DAD;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px #6A0DAD50;
}
.mi-foto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #6A0DAD;
}